.bgc-dark-gradient {
  background-image: linear-gradient(to bottom right, #000621, #0f0121, #130021);
}

/*-------------*/
/* fill colors */
/*-------------*/

/* flame colors */

.red-fill {
  fill: #ff0019;
}

.orange-fill {
  fill: #ff5900;
}

.yellow-fill {
  fill: #fff200;
}

.pink-fill {
  fill: #ff0087;
}

/* building colors */

.green-fill {
  fill: #01f91d;
}

.light-blue-fill {
  fill: #02f9ed;
}

/* spaceship colors */

.purple-fill {
  fill: #bb00ff;
}

.light-purple-fill {
  fill: #dc00ff;
}

.hotpink-fill {
  fill: #ff0d4a;
}

.purple-pink-fill {
  fill: #e80cb1;
}

/*------------*/
/* animations */
/*------------*/

/* flame colors switch from red to orange to yellow to pink*/
.flame-animation {
  animation-name: takeoff-flames;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: step-start;
}

@keyframes takeoff-flames {
  0% {
    fill: #ff0019;
  }
  25% {
    fill: #ff5900;
  }
  50% {
    fill: #fff200;
  }
  100% {
    fill: #ff0087;
  }
}

/* big spaceship lights */
